/* ---------------------------------
1. COMMONS FOR PAGE DESIGN
--------------------------------- */

html {
  height: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  touch-action: manipulation;
}

body {
  font-size: 16px;
  font-family: "Poppins", serif;
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  color: #333;
}

h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
li,
img {
  margin: 0;
  padding: 0;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  font-weight: inherit;
}

h2,
h3 {
  font-family: "Poppins", cursive;
}

p {
  line-height: 1.6;
  font-size: 1.05em;
  font-weight: 400;
  color: #777;
}
h2 {
  font-size: 2.2em;
  line-height: 1.1;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.9em;
  letter-spacing: 1px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

a:focus,
a:active,
a:hover {
  text-decoration: underline;
  color: inherit;
}

b {
  font-weight: 600;
}

img {
  width: 100%;
}

li {
  list-style: none;
  display: inline-block;
}

span {
  display: inline-block;
}

.icon {
  font-size: 1.1em;
  display: inline-block;
  line-height: inherit;
}

.section {
  padding: 100px 0 50px;
}

.section .heading {
  display: inline-block;
  margin-bottom: 60px;
  border-bottom: 1px solid #ea2127;
}

.section .heading:before {
  content: "";
  height: 10px;
  width: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
  background: #22a7f0;
}

.font-blue {
  color: #22a7f0;
}

.font-lite-black {
  color: #999;
}

/* scroll to top btn style */

.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  line-height: 50px;

  z-index: 9999999999;
  text-align: center;

  border-radius: 15px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
  background: #fff;
  mix-blend-mode: difference;
}
.scroll-to-top.show {
  opacity: 0.8;
  visibility: visible;
}
.scroll-to-top.show:hover {
  opacity: 1;
}
.scroll-to-top.show:hover img {
  transform: rotate(0);
}
.scroll-to-top.show:hover:after {
  opacity: 0;
}
.scroll-to-top:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 95%;
  height: 3px;
  margin-left: 0.1rem;
  border-radius: 10px;
  filter: blur(0.1rem);
  background: linear-gradient(to right, transparent, #3b3b3b, transparent);
  transition: all 0.2s linear;
  mix-blend-mode: multiply;
}
.scroll-to-top img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 15px;
  transform: rotate(-11deg);
  transform-origin: bottom left;
  transition: all 0.2s linear;
}

/* ---------------------------------
2. HEADER
--------------------------------- */

header {
  padding-top: 1rem;
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  z-index: 3;
}

header .heading-wrapper {
  border-radius: 5px;
  padding: 30px 40px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../imgs/web-design.jpg");
  background-color: #22a7f0;
  background-size: cover;
  background-blend-mode: multiply;
  color: #fff;
}

header .info {
  margin-bottom: 10px;
}

header .info .icon {
  float: left;
  font-size: 30px;
}

header .info .right-area {
  margin-left: 45px;
}
header .info .right-area .my-mail {
  font-size: 0.8rem;
}

header .download-btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 4px;
  float: right;
  margin-top: 30px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../imgs/web-design.jpg");
  background-color: #22a7f0;
  background-size: cover;
  background-blend-mode: multiply;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 2;
  overflow: hidden;
}

header .download-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #22a7f0;
  z-index: 1;
  transition: all 0.2s linear;
}

header .download-btn:hover:after {
  left: 0;
  opacity: 0.3;
}

/* ---------------------------------
3. INTRO SECTION
--------------------------------- */

.intro-section {
  position: relative;
  padding-top: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../imgs/web-design.jpg");
  background-size: cover;
}

@media (max-width: 767px) {
  .intro-section {
    padding-top: 350px;
  }
}

@media (max-width: 450px) {
  .intro-section {
    padding-top: 450px;
  }
}

.intro-section:after {
  content: "";
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
}

.intro {
  position: relative;
  z-index: 2;
  padding: 30px 20px;
  margin-top: 100px;
  text-align: center;
  background: #fff;
  box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.1), -10px -10px 80px -20px rgba(0, 0, 0, 0.1);
  outline: 1px solid #faf9f9;
  outline-offset: -10px;
}

.intro h1 {
  position: relative;
  display: inline-block;
  padding: 1rem;
  margin-top: -1.5rem;
  background: #fff;
  margin-bottom: 1rem;
  font-variant: small-caps;
}

@media (max-width: 575px) {
  .intro h1 {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

.intro h1:after,
.intro h1:before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  background: #22a7f0;
  width: 50%;
  height: 100%;
  transform: rotate(3deg);
  z-index: -1;
}

.intro h1:before {
  left: initial;
  right: -6px;
  top: initial;
  bottom: -6px;
}

.intro .profile-img {
  box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.1), -10px -10px 80px -20px rgba(0, 0, 0, 0.1);
  display: block;
  height: 200px;
  width: 200px;
  padding: 0.5rem;
  background: #fff;
  border: 10px solid #fff;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  top: -130px;
  margin-bottom: -70px;
}
.intro .profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.intro .information > li {
  display: block;
  margin: 5px 0;
}

.social-icons > li > a {
  height: 45px;
  line-height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  z-index: 1;
  position: relative;
  margin: 0 5px 5px;
  background: #fff;
  color: #22a7f0;
}

.social-icons > li > a:hover {
  color: #fff;
}

.social-icons > li > a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  border-radius: 20px;
  background: #22a7f0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.social-icons > li > a:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* ---------------------------------
4. PORTFOLIO SECTION
--------------------------------- */

.portfolio-section .my-work a.target {
  display: block;
}
.portfolio-section .my-work .fluidbox__wrap {
  position: relative;
  border: 1px solid #e7e7e7;
  border-bottom: 0;
  background-size: cover;
  background-position: left top;
  width: 100%;
  height: 250px;
  margin-bottom: 3rem;
  transition: all 4s linear;
}
.portfolio-section .my-work .fluidbox__wrap:before,
.portfolio-section .my-work .fluidbox__wrap:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: transparent;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-5deg);
}
.portfolio-section .my-work .fluidbox__wrap:after {
  transform: rotate(5deg);
  right: 10px;
  left: auto;
}
.portfolio-section .my-work .fluidbox__wrap:hover {
  background-position: left bottom;
}

/* ---------------------------------
5. ABOUT SECTION
--------------------------------- */

.about-section {
  background: #161730;
}
.about-section .box .chart {
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  margin: auto;
}

.about-section p {
  color: #a4a4a4;
}

.about-section .box .chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* ---------------------------------
6. COUNTER SECTION
--------------------------------- */

.counter-section {
  position: relative;
  padding: 100px 0;
  background-image: url("../imgs/counter-bg.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
  color: #fff;
}

.counter-section:after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.counter-section .img {
  width: 55px;
  margin: 0 auto 1rem;
  overflow: hidden;
}

.counter-section .img img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 775px) {
  .counter-section .counter .title {
    font-size: 1.5rem;
  }
}

/* ---------------------------------
7. FOOTER
--------------------------------- */

footer {
  padding: 10px 0;
  background: #161730;
}

.copyright span {
  color: #22a7f0;
}

footer .social-icons {
  text-align: right;
  margin-top: 0.5rem;
}

@media (max-width: 767px) {
  footer .social-icons,
  footer .copyright {
    text-align: center;
  }
  footer .copyright {
    margin-top: 0.5rem;
  }
  footer .social-icons li a {
    background: #22a7f0;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  footer .social-icons li a:after {
    transform: scale(1);
  }
}

@media (max-width: 575px) {
  footer .copyright {
    font-size: 0.9rem;
  }
}

footer .social-icons li a {
  text-align: center;
  margin-bottom: 0;
  background: none;
  border: none;
  color: #fff;
}


/* SCROLL ANIMATION STUFF */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* FADE IN LEFT */

.fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* FADE IN LEFT */

.fadeInLeft {
  animation-name: fadeInLeft;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* FADE IN RIGHT */

.fadeInRight {
  animation-name: fadeInRight;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* FADE IN UP */

.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* FADE IN DOWN */

.fadeInDown {
  animation-name: fadeInDown;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ROLL IN */

.rollIn {
  animation-name: rollIn;
}
@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

